/* Reset padrão */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Variáveis de cores */
:root {
  --default-white: #FFFFFF;
  --background-and-project-base-color: #282828;
  --button-and-focus-color: #2ECC71;
  --button-color-hover: #27AE60;
  --border-color: #AAAAAA;
  --table-color: #F9F9F9;
  --table-hover-color: #C8C7C7;
  --delete-button-color: #FF0000;
}

body {
  background-color: var(--background-and-project-base-color);
  min-height: 100vh;
  color: var(--default-white);
}

.section {
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

/*    Nav    */
nav {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin-left: 40px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

nav img {
  margin-top: 8px;
}

nav h1 {
  font-size: 2.5rem;
  color: var(--default-white);
}

nav a {
  color: var(--default-white);
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: all .5s ease;
  cursor: pointer;
  margin-top: 10px;
}

nav a:hover {
  border-bottom: 2px solid var(--default-white);
}

main, section {
  margin-left: 220px;
  padding: 20px;
}

/*    Início    */
#home h2 {
  font-size: 50px;
  margin-left: -150px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#home p {
  font-size: 20px;
  margin-left: -100px;
}

/*    Formulário    */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin-left: -50px;
}

#cadastrar h2 {
  margin-bottom: 30px;
}

form label {
  font-weight: bold;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 60%;
}

form textarea {
  margin-bottom: 30px;
}

form button {
  padding: 10px;
  width: 60%;
  background-color: var(--button-and-focus-color);
  color: var(--default-white);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: var(--button-color-hover);
}

/*    Listar Pets    */

/* Pesquisa por nome */
#listar {
  margin-left: 30px;
}

#listar h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.areaDeBusca {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.areaDeBusca label {
  font-weight: bold;
  font-size: 19px;
}

.areaDeBusca input {
  border-radius: 4px;
  padding: 8px 12px;
  width: 250px;
  border: 1px solid var(--border-color);
  outline: none;
}

.areaDeBusca input:focus {
  border-color: var(--button-and-focus-color);
}

.areaDeBusca button {
  padding: 8px 16px;
  background-color: var(--button-and-focus-color);
  color: var(--default-white);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.areaDeBusca button:hover {
  background-color: var(--button-color-hover);
}

/* Tabela */
table {
  width: 100%;
  background-color: var(--table-color);
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  font-size: 18px;
}

th, td {
  padding: 10px;
  border: 1px solid var(--background-and-project-base-color);
  text-align: left;
}

th {
  color: var(--background-and-project-base-color);
  
}

tr:hover {
    background: var(--table-hover-color);
    cursor: pointer;
}

.trash-img {
  display: block;
  margin: 0 auto;
  cursor: default;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: var(--background-and-project-base-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-button:hover {
  color: var(--delete-button-color);
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 600px) {
  .container {
    margin: 10px;
    padding: 20px;
  }

  header h1 {
    font-size: 2rem;
  }
}

